@{
    ViewData["Title"] = "La pizzeria di Giggino";
    Layout = null;

    List<Pizza> pizzas = new List<Pizza>();
    Pizza margherita = new Pizza("Margherita","Pomodoro, fiordilatte e basilico", "~/img/margherita.jpg", 5.5m);
    pizzas.Add(margherita);
    Pizza marinara = new Pizza("Marinara", "Pomodoro, origano ed aglio", "~/img/marinara.jpg", 4.5m);
    pizzas.Add(marinara);
    Pizza diavola = new Pizza("Diavola", "Pomodoro, fiordilatte e salame piccante", "~/img/diavola.jpg", 6m);
    pizzas.Add(diavola);
    Pizza carrettiera = new Pizza("Carrettiera", "Friarielli, fiordilatte e salsiccia", "~/img/salsiccia-friarielli.jpg", 6.5m);
    pizzas.Add(carrettiera);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="navbar bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand text-danger ms-3">Pizzeria 'nda Giggino</span>
                <span class="me-3"><img src="img/icon-pizza.png" alt="icon pizza" /></span>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="container">
            <h1 class="text-center text-light p-5">Pizze disponibili</h1>
            <div class="row">
                    <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center bg-danger">Name</th>
                            <th scope="col" class="text-center bg-danger">Description</th>
                            <th scope="col" class="text-center bg-danger">Price</th>
                            <th scope="col" class="text-center bg-danger">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Pizza pizza in pizzas)
                        {
                        <tr>
                            <td class="text-center align-content-center">@pizza.Name</td>
                            <td class="text-center align-content-center">@pizza.Description</td>
                            <td class="text-center align-content-center">€ @pizza.Price</td>
                            <td class="text-center align-content-center"><img src="@Url.Content(pizza.Photo)" class="img-thumbnail small-image" alt="@pizza.Name"></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


<style>
    .small-image {
        max-width: 150px;
        max-height: 150px;
    }
    .wrapper{
        height: 100vh;
        background-image: url('img/immagine-pizzeria.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1{
        color: white;
        text-shadow: 5px 5px 8px #000000;
    }
</style>

